*.le
alex - Shortcut.lnk
compiler.hs
happy - Shortcut.lnk
lexer- old.hs
stuff
stuff.hs
stuff.stuff
test.hs
test1.hs
test1.x
test2.hs
test2.y
*out
*Out
LEng.zip
Cg.hi
Cg.o
Irt.hi
Irt.o
Lexer.hi
Lexer.o
Parser.hi
Parser.o
exploding_donkey.hs
flammablePig.exe
flammablePig.hi
flammablePig.o
test1.ass
