*.le
alex - Shortcut.lnk
compiler.hs
happy - Shortcut.lnk
lexer- old.hs
lexer.hs
parser.hs
stuff
stuff.hs
stuff.stuff
test.hs
test0out
test1.hs
test1.x
test1out
test2.hs
test2.y
test2out
test3out
test4out
test5out
